body {
    background: #042047; 
    margin: 20px;
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
          
}

ul
{
    list-style-type: none;
    
}

li
{
  overflow: auto; 
}
  
.freespace
{
  height: 20px;
}





text.username
{
    border-radius: 15px;
}

#chat 
{
    height:450px;
    margin: 0 auto;
    color: #FFFFFF;
    background: #01140B;
    padding: 15px;
    margin: 0px, 10px, 10px, 10px;
    width: 90%;
    border-radius: 15px;
}

.conversation
{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: bottom;
    border-radius: 5px;
    color: Black;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    background: #FFFFFF;
    height: 400;
    width: 90%;
    border-radius: 5px; 
    border: 2px solid Black;
}


.chatHead 
{ 
    text-align: center;     
}

.my 
{
    
   width:450px;
   float: right; 
   background: #6495ED;
   border-radius: 5px;  
   padding: 1px;   
   border: 2px solid Black;    

}

.emptyP
{
  height: 15px;
}

.myInfo   
{
    width: 40%;
    float: right; 
    background: #B0C4DE;
    border-radius: 5px;  
    padding: 1px;   
    border: 2px solid Black;    
    font-size: 80%;
}

.other
{
   width: 51%;
   float:left; 
   background: Grey;
   border-radius: 5px; 
   padding: 1px;      
   border: 2px solid Black; 

}

.input 
{
    color: Black;
    resize: none;  
    width: 90%;
    border-radius: 5px;  
    padding: 1px;   
    border: 2px solid Black;    
}


.btn-primary
{
    width: 10%;
    height: 50px;
    border: 0.3px solid Black;
    border-radius: 5px;   
    float: right;  
}

.glyphicon-pencil
{
    float: right;
    height: 15;
    width: 15;

   
}

.glyphicon-trash
{
    float: right;
    height: 15;
    width: 15;
}

.glyphicon-exclamation-sign
{
    color: Red;
    height: 15;
    width: 15;
    display: none;
}




