body {
    background-image: -webkit-linear-gradient(-90deg, hsl(215, 89%, 15%) 0, hsl(215, 89%, 15%) 7%, hsl(211, 67%, 18%) 43%, hsl(211, 70%, 29%) 67%, #6495ED 100%);
    background-image: -moz-linear-gradient(180deg, hsl(215, 89%, 15%) 0, hsl(215, 89%, 15%) 7%, hsl(211, 67%, 18%) 43%, hsl(211, 70%, 29%) 67%, #6495ED 100%);    
    background-image: linear-gradient(180deg, hsl(215, 89%, 15%) 0, hsl(215, 89%, 15%) 7%, hsl(211, 67%, 18%) 43%, hsl(211, 70%, 29%) 67%, #6495ED 100%);
    margin: 90px ;
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
          
}


ul
{
    list-style-type: none;
    
}

li
{
  overflow: auto; 
}
  
.freespace
{
  height: 20px;
}





text.username
{
    border-radius: 15px;
}

#chat 
{
    display: block;
    height:450px;
    margin: 0 auto;
    color: #FFFFFF;
    background: #01140B;
    padding: 15px;
    margin: 0px, 10px, 10px, 10px;
    width: 500px;
    border-radius: 15px;
}

.conversation
{
width: 90%; height: 270px ;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: bottom;
    border-radius: 5px;
    color: Black;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    background: #FFFFFF;

    border-radius: 5px; 
    border: 2px solid Black;
}


.chatHead 
{ 
    text-align: center;     
}

.my 
{   
    
   width: 51%;
   float: right; 
   background: #6495ED;
   border-radius: 5px;  
   padding: 1px;   
   border: 2px solid Black;    
   margin: 3px;
   margin-left: 49%; 


}



.myInfo   
{
    margin-left: 49%; 
    margin: 3px;
    width: 40%;
    float: right; 
    background: #B0C4DE;
    border-radius: 5px;  
    padding: 1px;   
    border: 2px solid Black;    
    font-size: 80%;
}

.other
{
   width: 51%;
   float:left; 
   background: Grey;
   border-radius: 5px; 
   padding: 1px;      
   border: 2px solid Black; 

}

.input 
{
    color: Black;
    resize: none;  
    width: 90%;
    border-radius: 5px;  
    padding: 1px;   
    border: 2px solid Black;    
}


.btn-primary
{
    width: 10%;
    height: 50px;
    border: 0.3px solid Black;
    border-radius: 5px;   
    float: right;  
}

.glyphicon-edit,.glyphicon-trash
{
    float: right;
    color: white;
    background: #042047;    
    padding: 2px;   
    margin: 1.5px;    
    border-radius: 5px;   
    border: 1px solid Black;     
}



.glyphicon-exclamation-sign
{
    color: Red;
    height: 15;
    width: 15;
    display: none;
}



.username {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: Black;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}






